
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Fraunces', serif;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 10px;
  display: flex;
  max-width: 666px;
  background-color: white;
  margin: 0 1rem;
}

.img_container {
  width: 50%;
}

.img_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.details_container {
  width: 50%;
  padding: 2rem;
}

.details_container .name {
  color: hsl(212, 21%, 14%);
  padding-right: 2rem;
  margin-bottom: 1.75rem;
}

.details_container p, .description {
  font-family: "Montserrat";
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 22px;
  margin-bottom: 1.75rem;
}

.perfume {
  font-family: "Montserrat";
  letter-spacing: 3px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1.75rem;
}

.price_container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.75rem;
}

.price_container .current_price {
  color: hsl(158, 36%, 37%);
}

.price_container .old_price {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  margin-top: 35px;
}

.details_container .btn {
  width: 100%;
  border: none;
  outline: none;
  background-color: hsl(158, 36%, 37%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Montserrat";
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.details_container .btn:hover {
  background-color: hsl(212, 21%, 14%);
}

.attribution {
  padding-top: 55px;
  font-size: 12px;
  text-align: center;
}

@media only screen and (max-width: 550px)  {
  .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .img_container {
    width: 100%;
    height: 40%;
  }

  .img_container img {
    content: url(/images/image-product-mobile.jpg);
  }

  .card {
    flex-direction: column;
  }

  .details_container {
    width: 100%;    
  }

  .details_container .name {
    padding: 0px;
  }

  .img_container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .attribution {
    font-size: 8px;
    padding: 5px 0px 20px;
  }

}


        /* <style>.attribution {
          font-size: 11px;
          text-align: center;
        }
    
        .attribution a {
          color: hsl(228, 45%, 44%);
        }
        
        </style>-->< !-- <div class="attribution">Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a href="#">Your Name Here</a>. </div>--> */